html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    max-width: 1100px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

body::after {
    page: "";
    display: block;
    height: 1px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    text-align: center;
    background-color: #ffffff;
    flex: 1;
    padding-bottom: 50px;
}

.nav {
    padding: 0;
    padding-top: 0px;
    line-height: 0;
    display: inline-block;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #555555;
    display: block;
    height: 34.2px;
}

li {
    text-align: center;
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    padding: 17.1px 9.5px;
    text-decoration: none;
    font-size: 16px;
}

li a:link {
    color: #ffffff;
}

li a:visited {
    color: #ffffff;
}

li a:hover {
    background-color: #268888;
}

li a:active {
    background-color: #105a5b;
}

.bannerimgs {
    padding: 5px;
}

.page_main {
    text-align: left;
    padding: 40px;
}

.centertable {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-spacing: 0;
}

.musiclist {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

.musiclist a:link {
    color: #000000;
}

.musiclist a:visited {
    color: #000000;
}

.musiclist a:hover {
    color: #0cafb1;
}

.footer {
    color: #d1d1d1;
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.footer a:link {
    color: #d1d1d1;
    text-decoration: none;
}

.footer a:visited {
    color: #d1d1d1;
    text-decoration: none;
}

.footer a:hover {
    color: #1e8889;
    text-decoration: none;
}

.footer a:active {
    color: #2ac7c8;
    text-decoration: none;
}

.cclp {
    text-align: left;
    font-size: 14px;
    line-height: 1;
}

#cclpart {
    float: right;
    margin: 0 0 0 15px;
    padding: 5px;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #0cafb1;
}

.cclp a:link {
    color: #0cafb1;
    text-decoration: none;
}

.cclp a:hover {
    color: #0cafb1;
}

.cclp a:visited {
    color: #0cafb1;
}

.slideshow {
    width: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.tab {
    width: 1090px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #999999;
    background-color: #dadada;
    display: flex;
}
  
.tab button {
    background-color: inherit;
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 16px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #999999;
}

.tab button:hover {
    background-color: #ffffff;
}

.tab button.active {
    background-color: #ffffff;
}

.tabcontent {
    width: 1090px;
    margin: auto;
    margin-top: -14px;
    text-align: left;
    display: none;
    border: 1px solid #999999;
    border-top: none;
}

#frontpage {
    width: 1100px;
    height: 668px;
    border-style: none;
}