body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.page {
    text-align: center;
    background-color: #000000;
    max-width: 1100px;
    margin: auto;
}

.navbuttons {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

table {
    text-align: center;
    width: 1050px;
}

.episodelist {
    text-align: left;
    padding: 10px;
}

.episodelist a:link {
    color: #ffffff;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: rgb(214, 214, 214);
}

.footer {
    color: #d6d6d6;
    font-size: 12px;
    text-align: center;
}